/**************************
* Header
**************************/

body
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif
  color: #666
  
h1
  font-size: 1em

/**************************
* Header
**************************/

header
  width: 100%
  linear-gradient(#fff, #eee)

/**************************
* Content
**************************/

.content
  background: #f5f5f5